.main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  width: 200px;
  min-height: 300px;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
